{% extends "header.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="col">
            {# Profile picture #}
            <img class="propic" src="data:image/png;base64,{{ image }}" alt="image">
        </div>
        <div class="col">
            <h4> Hello, {{ current_user.username }}!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="">
                {{ nameform.csrf_token }}
                <div class="form-group">
                    {{ nameform.username.label }}
                    {{ nameform.username(class="form-control") }}
                </div>
                {{ nameform.submit() }}
            </form>
            {# Username Update Form #}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {# Profile Picture Update Form #}
            <form action="" method="post" enctype="multipart/form-data">
                {{ picform.csrf_token }}
                <div class="form-group">
                    {{ picform.picture.label }}
                    {{ picform.picture(class="form-control") }}
                </div>
                {{ picform.submit() }}
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('user_detail') }}">
                Reviews Made
            </a>
        </div>
    </div>
{% endblock %}