{% extends "header.html" %}
{% block content %}
    {% if error_msg %}
        <b>{{ error_msg }}</b>
    {% endif %}
    <div class="row">
        <div class="col">
            <h2>Log In</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('register') }}">
                Register Here!
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
            {# Login form rendered here with Bootstrap classes #}
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h3>{{ message }}</h3>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% if form.username.errors %}
                        <div class="alert alert-warning" role="alert">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if form.password.errors %}
                        <div class="alert alert-warning" role="alert">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}