{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Registration</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <a>If you already have an account, please login  </a>
        <a href="{{ url_for('login') }}">
                Here!
            </a>
    </div>
</div>
<!-- Registration Form: -->
<div class="row">
    <div class="col">
        {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
        <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
          {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}

          {% if form.username.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}





        </div>
        {% endif %}


      </div>

      {{ form.submit() }}
    </form>
    </div>
</div>

{% endblock %}