{% extends "header.html" %}
{% block content %}
    {% if error_msg %}
        <b>{{ error_msg }}</b>
    {% endif %}

    <div class="row">
        <div class="col">
            {# User's Profile Picture #}
            <img class="propic" src="data:image/png;base64,{{ image }}" alt="">
        </div>
        <div class="col">
            {# Indicate which user's reviews we're looking at #}
            <h4> Reviews by: {{ user }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {# Show all reviews made by the user #}
            <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
            <ul class="media-list">
                {% for review in reviews %}
                    <li class="media review-item">
                        <img class="mr-3 comment-pic" src="data:image/png;base64,{{ review.image }}" alt="">
                        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
                            <a href="{{ url_for('movie_detail', movie_id=review.imdb_id) }}">
                                {{ review.movie_title }}
                            </a>
                            <p>
                                {{ review.content }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}